/* table styling for fixed-width columns */

.people {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}

.people td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 33%;
}

/* The list of books that appears inline on the people page */
.booklist th {
  background-color: #eeeeee;
}

.booklist td {
  background-color: #f5f5f5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.footer p {
  margin-top: 4px;
}

